.scrollable {
    max-height: 90vh;
    overflow-y: scroll;
}

.menubar {
    gap: 1vw;
}

#menubar-left {
    margin-left: auto;
}

#search {
    width: 100%;
    height: 100%;
}

#searchField {
    position: relative;
    flex-grow: 0.9;
}

#nightMode {
    margin-left: auto;
    position: relative;
    min-width: 48px;
}

#recipe-detail {
    display: block;
    width: 100%;
    min-height: 90vh
}

.nmIcon {
    position: absolute;
    right: 0%;
}

#clear {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
}

.recipe-count {
    margin-left: 0.25em;
}

.dropdown {
    align-self: center;
}